<h2 class="card-title">{{name}}</h2>

<div class="card">
  <div class="card-body">
    <p class="card-text">Capital: {{capital}} </p>
    <p class="card-text">Population: {{population}}</p>
    <p class="card-text">Languages:</p>
    <ul class="list-group">
      {{#each languages}}
      <li class="list-group-item">{{this.name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="card-img">
    <img src="{{flags.png}}" alt="{{name}}">
  </div>
</div>